.arrow-up {
  height: 16.1vh;
  display: flex;
  align-items: center;
  // margin: 25px 0;
  .btn {
    background-color: rgba(white, $alpha: 0.6);
    border: 2px solid rgba(gray, 0.8);
    font-size: 20px;
    font-weight: 100;
    i {
      padding: 7px 4px;
      color: rgba($header-text-color, 1);
    }
  }
}

.footer {
  border-top: 3px solid rgba($bg-color-dark, 0.5);
  height: 85vh;
  * {
    color: rgba($header-text-color, 0.8);
  }
  &-element {
    .col-4 {
      display: flex;
      padding: 0;
      justify-content: flex-start;
    }
  }
  img {
    width: 15rem;
  }
  .list-group {
    padding: 0;
    &-item {
      font-size: 0.9rem;
      font-weight: 700;
      border: none;
      padding: 0;
      a {
        color: black;
      }
    }
  }

  &-contact {
    font-weight: 600;
    font-size: 0.8rem;
    a {
      position: relative;
    }
    .sm-border {
      left: 0;
      top: 35%;
    }
  }
}
.list-group {
  display: inline-block;
}
