.news-first-section {
  .card-header {
    .active {
      background-color: transparent !important;
    }
    background-color: transparent;
    height: fit-content;
    font-size: 0.9rem;
    font-weight: 500;
    margin: 0;
    padding-bottom: 0.5rem !important;
    padding-top: 0.5rem !important;
    @media (max-width: 500) {
      background-color: rebeccapurple !important;
      font-size: 0.5rem;
    }
    .navbar-news-carousel {
      .carsoul-inner {
        * {
          overflow: hidden;
          display: -webkit-box !important;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          white-space: normal;
        }
        margin-right: 1rem;
        // height: fit-content;
        padding: 0;
        .carousel-item {
          display: none;
        }
        .active {
          display: inline-block;
        }
      }
    }
    .small-box {
      width: 21px;
      height: 13px;
      background-color: #c7c7c7;
      margin-left: 12px;
      margin-top: 0.2rem;
    }
    ul {
      width: 10rem;
      height: fit-content;
      display: flex;
      li {
        width: 2rem;
        height: 2rem;

        display: flex;
        align-items: center;
        opacity: 1;
        background-color: #fbfbfb;
        border: 1px solid $border-btn;
        padding: 0;
        i {
          font-size: 1rem;
        }
      }
    }
  }
  .row {
    margin-top: 2rem;
    .carousel {
      &-inner {
        position: relative;
        width: 100%;
        max-height: $first-section-img-height;
        min-height: 20rem;
      }
      &-item {
        height: 100%;
        width: 100%;
        img {
          height: 100%;
          width: 100%;
        }
      }
      .arrow {
        .btn {
          background-color: rgba($color: gray, $alpha: 0.6);
          border: 1px solid white;
          margin-left: 35px;
          i {
            color: white;
            font-size: 1.4rem;
            padding: 0.4rem 0.2rem;
          }
        }
      }
    }
    .card {
      border: 0;
      * {
        border: 0;
      }
      height: $first-section-img-height;
      .list-group {
        font-size: 0.8rem;
        border-radius: 0;
        height: 100%;
        overflow-y: hidden;
        &-item {
          border-bottom: 0.1rem solid $bg-color;
          padding-right: 2rem !important;
          padding-left: 0.5rem !important;
          position: relative;
          margin: 0 !important;

          &-action {
            background-color: transparent !important;
          }
          &:hover {
            background-color: rgba($active-color, 0.2);
          }
          .news-paper_title {
            margin-right: 1.4rem;
            margin-top: -0.1rem;
          }
          // background-color: rebeccapurple;
          &::after {
            content: "";
            position: absolute;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background-color: $green-500;
            top: 1rem;
            right: 0.56rem;
          }
          &::before {
            content: "";
            position: absolute;
            width: 0.1rem;
            height: 100%;
            background-color: $bg-color;
            right: 1rem;
          }
        }
      }
    }
  }
  .news {
    font-weight: 500;
    .more-news {
      outline: none !important;
    }
    small {
      font-size: 12px;
    }
  }
}

.popover {
  img {
    height: 5rem;
    width: 5rem;
    margin-left: 1rem;
  }
  font-size: 1rem;
  font-weight: 600;
}

.carousel-fade {
  .carousel-item {
    opacity: 0;
    transition-duration: 1s ease-out;
    transition-property: opacity;
  }
}
