.news-fifth-section {
  background-color: $bg-fifth-section;
  // min-height: 80.3vh;
  // height: fit-content;
  margin-top: 30px;

  .first {
    // height: 100%;
    .carousel {
      padding: 0;
      height: 100%;
      img {
        height: 100%;
      }
    }
  }
  .second {
    height: fit-content;
    width: fit-content;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
