.news-fourth-section {
  .card-header {
    font-size: 1rem;
    font-weight: 600;
    justify-content: flex-start;
    i {
      margin-left: 6px;
      color: #fcba0c;
    }
  }

  .nav[role="tablist"] {
    padding: 0;
    margin: 0;
    a {
      margin-left: 3rem;
      color: inherit;
    }
  }
  a[aria-selected="true"] {
    border-bottom: 0.13rem solid rgb(46, 44, 44);
  }
  .tab-content {
    padding: 1rem 2rem 2rem !important;
    height: fit-content;
    .tab-pane {
      .card {
        margin: 5px;
        img {
          height: 17rem;
        }
        .card-body {
          text-align: right;
          position: absolute;
          width: 100%;
          height: 27%;
          bottom: 0;

          background-color: rgba(black, $alpha: 0.4);

          * {
            color: white !important;
          }
        }
      }
    }
  }
}
